body {
    width: 100%;
    height: 100vh; /* Ocupa a altura total da janela */
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}
h2{
    margin-left: 8px;
    margin-top: 20px;
    top: 0;
    font-family: "Righteous", sans-serif;
}
h1{
    margin-left: 8px;
    font-family: "Righteous", sans-serif;
}
h3{
    margin-left: 8px;
    margin-top: -15px;
    font-family: "Righteous", sans-serif;
}
.conteudo {
    flex: 1; /* Ocupa o espaço restante entre o topo e o final */
    margin-top: 100px; /* Espaço para o topo fixo */
    overflow-y: auto; /* Permite rolagem vertical se necessário */
}


.topo {
    width: 100%;
    height: 100px;
    position:fixed;
    top: 0;
    background-color: #CF2B2B;
    color: #FFFFFF;
    margin-left: 0;
    z-index: 1000; /* Certifique-se de que o topo está na frente de outros elementos */
}

.titulo1 {
    width: 250px;
    height: 60px;
    margin-top: 10%;
    color: #333333;
}

.pratos {
    width: 100%;
    height: 300px;
   
    margin-top: 1%;
    display: flex; /* Transforma em contêiner flexível */
    flex-direction: row; /* Disposição em linha */
    box-sizing: border-box;
    overflow-x: auto; /* Permite rolagem horizontal */
    justify-content: flex-start;
    flex-wrap: nowrap;
    min-width: fit-content;
    overflow-x: auto;
}

.prato1, .prato2, .prato3 {
    width: 172px; /* Adiciona "px" */
    height: 216px; /* Adiciona "px" */
    border-radius: 9px;
    background: #FFFFFF;
    margin: 4%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.bebidas, .sobremesas {
    width: 100%;
    height: 300px;
    margin-top: 10%;
    display: flex; /* Transforma em contêiner flexível */
    flex-direction: row; /* Disposição em linha */
    box-sizing: border-box;
    overflow-x: auto; /* Permite rolagem horizontal */
    justify-content: flex-start;
    flex-wrap: nowrap;
    min-width: fit-content;
}

.bebida1, .bebida2, .bebida3, .sobremesa1, .sobremesa2, .sobremesa3 {
    width: 172px; /* Adiciona "px" */
    height: 216px; /* Adiciona "px" */
    border-radius: 9px;
    background: #FFFFFF;
    margin: 4%;
    box-sizing: border-box;
    flex-shrink: 0;
}
.imagem1{
 width: 144px;
 height: 87px;
 top: 183px;
 left: 33px;
 border-radius: 4px;
}
.imagem2{
    width: 144px;
    height: 87px;
    top: 183px;
    left: 33px;
    border-radius: 4px;
}
.imagem3{
    width: 144px;
    height: 87px;
    top: 183px;
    left: 33px;
    border-radius: 4px;
}
.imagem4{
    width: 144px;
    height: 87px;
    top: 183px;
    left: 33px;
    border-radius: 4px; 
}
.imagem5{
    width: 144px;
    height: 87px;
    top: 183px;
    left: 33px;
    border-radius: 4px;
}
.imagem6{
    width: 144px;
    height: 87px;
    top: 183px;
    left: 33px;
    border-radius: 4px;
}
.imagem7{
    width: 144px;
    height: 87px;
    top: 183px;
    left: 33px;
    border-radius: 4px;
}
.imagem8{
    width: 144px;
    height: 87px;
    top: 183px;
    left: 33px;
    border-radius: 4px;
}
.imagem9{
    width: 144px;
    height: 87px;
    top: 183px;
    left: 33px;
    border-radius: 4
}
.final {
    position: fixed; /* Fixa a barra na tela */
    bottom: 0; /* Posiciona a barra na parte inferior da tela */
    left: 0; /* Posiciona a barra na extremidade esquerda da tela */
    width: 100%; /* Garante que a barra ocupe toda a largura da tela */
    height: 60px; /* Defina a altura desejada para a barra */
    background-color: #FFFFFF; /* Defina a cor de fundo da barra */
    color: #fff; /* Defina a cor do texto da barra */
    text-align: center; /* Centraliza o texto na barra */
    line-height: 50px; /* Centraliza verticalmente o texto na barra */
    z-index: 1000; /* Garante que a barra fique na frente de outros elementos */
    display: flex;
    justify-content: center;

}
button{
    width: 200px;
    height: 50px;
    border: #CBCBCB;
    border-radius:50px ;
    background-color: #CBCBCB ;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 200px;
    font-size: 15px;
    line-height: 23.44px;
    letter-spacing: 1.8%;
    text-align: center;

}
